In [1]:
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

from datetime import date

c:\Users\Sean\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# Q1

In [13]:
start = date(2022, 1, 1)
end = date(2023, 12, 31)

In [14]:
gdppot = pdr.DataReader('GDPPOT', 'fred', start=start, end=end)
gdppot

                  GDPPOT
DATE
2022-01-01  21673.978006
2022-04-01  21782.011209
2022-07-01  21894.185817
2022-10-01  22006.866813
2023-01-01  22125.820000
2023-04-01  22246.230000
2023-07-01  22369.710000
2023-10-01  22495.190000

In [24]:
#gdppot['gdppot_us_yoy'] = gdppot.GDPPOT/gdppot.GDPPOT.shift(4)-1

gdppot['yoy'] = gdppot.GDPPOT/gdppot.GDPPOT.shift(4)-1
gdppot

                  GDPPOT       yoy
DATE
2022-01-01  21673.978006       NaN
2022-04-01  21782.011209       NaN
2022-07-01  21894.185817       NaN
2022-10-01  22006.866813       NaN
2023-01-01  22125.820000  0.020847
2023-04-01  22246.230000  0.021312
2023-07-01  22369.710000  0.021719
2023-10-01  22495.190000  0.022190

In [34]:
ans = gdppot['yoy'].tail(4).mean()*100
print(f'GDP YOY in 2023: {ans:.1f}%')

GDP YOY in 2023: 2.2%

# Q2